## Data Preprocessing

### Normalization

1. Write function in R to perform following normalization techniques:

In [3]:
head(USArrests)

           Murder Assault UrbanPop Rape
Alabama      13.2     236       58 21.2
Alaska       10.0     263       48 44.5
Arizona       8.1     294       80 31.0
Arkansas      8.8     190       50 19.5
California    9.0     276       91 40.6
Colorado      7.9     204       78 38.7

#### Min-Max Normalization

In [2]:
normalMinMax <- function(x){return((x-min(x))/(max(x)-min(x)))}
datanorm1 <- as.data.frame(lapply(USArrests,normalMinMax))
head(datanorm1)

     Murder   Assault  UrbanPop      Rape
1 0.7469880 0.6541096 0.4406780 0.3591731
2 0.5542169 0.7465753 0.2711864 0.9612403
3 0.4397590 0.8527397 0.8135593 0.6124031
4 0.4819277 0.4965753 0.3050847 0.3152455
5 0.4939759 0.7910959 1.0000000 0.8604651
6 0.4277108 0.5445205 0.7796610 0.8113695

#### Z-Score Normalization

In [5]:
normalZscore <- function(x){return((x-mean(x))/sqrt(var(x)))}
datanorm2 <- as.data.frame(lapply(USArrests,normalZscore))
head(datanorm2)

      Murder   Assault   UrbanPop         Rape
1 1.24256408 0.7828393 -0.5209066 -0.003416473
2 0.50786248 1.1068225 -1.2117642  2.484202941
3 0.07163341 1.4788032  0.9989801  1.042878388
4 0.23234938 0.2308680 -1.0735927 -0.184916602
5 0.27826823 1.2628144  1.7589234  2.067820292
6 0.02571456 0.3988593  0.8608085  1.864967207

#### Sigmoidal Normalization

In [8]:
normalSigmoid <- function(x){return(1/(1+exp(-x)))}
datanorm3 <- as.data.frame(lapply(USArrests,normalSigmoid))
head(datanorm3)
tail(datanorm3)

     Murder Assault UrbanPop Rape
1 0.9999981       1        1    1
2 0.9999546       1        1    1
3 0.9996966       1        1    1
4 0.9998493       1        1    1
5 0.9998766       1        1    1
6 0.9996294       1        1    1

      Murder Assault UrbanPop      Rape
45 0.9002495       1        1 0.9999863
46 0.9997966       1        1 1.0000000
47 0.9820138       1        1 1.0000000
48 0.9966652       1        1 0.9999086
49 0.9308616       1        1 0.9999796
50 0.9988875       1        1 0.9999998

### Discretization

2.	Use the dataset "USArrests" and discretize it by a) equal frequency, b) equal width, c) global equal width

In [19]:
library(infotheo)
# attach(USArrests)

#### Equal frequency

In [21]:
MurderBin <- discretize(Murder, disc = "equalfreq") 
table(MurderBin)

MurderBin
 1  2  3
17 16 17

#### Equal width

In [23]:
AssaultBin <- discretize(Assault, disc = "equalwidth")
table(AssaultBin)

AssaultBin
 1  2  3
20 16 14

#### Global equal width

In [24]:
UrbanPopBin <- discretize(UrbanPop, disc = "globalequalwidth")
table(UrbanPopBin)

UrbanPopBin
 1  2  3
10 21 19

### Distance (Similarity-Dissimilarity)

3. Using the built-in dataset "mtcars", compute the distance

In [26]:
head(mtcars)
names <- rownames(mtcars)

                   mpg cyl disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6  225 105 2.76 3.460 20.22  1  0    3    1

In [27]:
mtcarsnorm <- as.data.frame(lapply(mtcars, normalZscore))
rownames(mtcarsnorm) <- names
head(mtcarsnorm)

                         mpg        cyl        disp         hp       drat
Mazda RX4          0.1508848 -0.1049878 -0.57061982 -0.5350928  0.5675137
Mazda RX4 Wag      0.1508848 -0.1049878 -0.57061982 -0.5350928  0.5675137
Datsun 710         0.4495434 -1.2248578 -0.99018209 -0.7830405  0.4739996
Hornet 4 Drive     0.2172534 -0.1049878  0.22009369 -0.5350928 -0.9661175
Hornet Sportabout -0.2307345  1.0148821  1.04308123  0.4129422 -0.8351978
Valiant           -0.3302874 -0.1049878 -0.04616698 -0.6080186 -1.5646078
                            wt       qsec         vs         am       gear
Mazda RX4         -0.610399567 -0.7771651 -0.8680278  1.1899014  0.4235542
Mazda RX4 Wag     -0.349785269 -0.4637808 -0.8680278  1.1899014  0.4235542
Datsun 710        -0.917004624  0.4260068  1.1160357  1.1899014  0.4235542
Hornet 4 Drive    -0.002299538  0.8904872  1.1160357 -0.8141431 -0.9318192
Hornet Sportabout  0.227654255 -0.4637808 -0.8680278 -0.8141431 -0.9318192
Valiant            0.248094592  1.3269868  1.1160357 -0.8141431 -0.9318192
                        carb
Mazda RX4          0.7352031
Mazda RX4 Wag      0.7352031
Datsun 710        -1.1221521
Hornet 4 Drive    -1.1221521
Hornet Sportabout -0.5030337
Valiant           -1.1221521

a. Compute the distance between "Honda Civic" and "Camaro Z28"

In [28]:
hondaciv <- mtcarsnorm["Honda Civic",]
camz28 <- mtcarsnorm["Camaro Z28",]
dist(rbind(hondaciv,camz28), method = "euclidean")

           Honda Civic
Camaro Z28    7.102716

b. Compute the distance between "Camaro Z28" and "Pontaic Firebird"

In [29]:
camz28 <- mtcarsnorm["Camaro Z28",]
pontfire <- mtcarsnorm["Pontiac Firebird",]
dist(rbind(camz28,pontfire), method = "euclidean")

                 Camaro Z28
Pontiac Firebird   2.452931

c. Among the distances calculated which cars are similar?

Camaro Z28 and Honda Civic are similar as dist between them is lower

d. Compute the distance matrix for the entire dataset

In [31]:
distmatrix <- dist(mtcarsnorm, method = "euclidean")

e. Find the distance matrix for other types of distances, such as maximum, Manhattan, Canberra, binary and Minkowski

In [33]:
maxdist <- dist(mtcarsnorm, method = "maximum")
manhdist <- dist(mtcarsnorm, method = "manhattan")
canbdist <- dist(mtcarsnorm, method = "canberra")
bindist <- dist(mtcarsnorm, method = "binary")
minkodist <- dist(mtcarsnorm, method = "minkowski")

f. Find the correlation matrix and covariant matrix for the dataset mtcars.

In [35]:
cor <- cor(mtcarsnorm, method = "pearson")
cpv <- cov(mtcarsnorm, method = "pearson")